<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" id="query-form">
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="用户生日范围开始日" name="start" id="start">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="用户生日范围截止日" name="end" id="end">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" id="batch-delete-btn"><i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('添加用户','/user/add')"><i class="layui-icon"></i>添加</button>
                        </div>

                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="edit" permission="sys:user:edit">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="sys:user:del">删除</a>
                            </script>
                        </div>

                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      layui.use(['table','laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;


          //第一个实例
          table.render({
              elem: '#table'
              ,height: 312
              ,url: '/user/list/' //数据接口
              ,request: {
                  pageName: 'pageNum',
                  limitName: 'pageSize'
              }
              // ,where: {pageNum:1 ,pageSize: 20}
              ,method: 'get'
              //,cellMinWidth: 40 全局定义常规单元格的最小宽度，layui 2.2.1 新增
              ,page: true //开启分页
              ,cols: [
                  [
                      {type:'checkbox'}
                      ,{field: 'id', title: 'ID',  sort: true,width: 80}
                      ,{field: 'username', title: '用户名', sort: true,width: 177,align:'center'}
                      ,{field: 'nickname', title: '昵称',  sort: true, width: 177,align:'center'}
                      // ,{field: 'phone', title: '电话号码', align:'center'}
                      ,{field: 'email', title: '电子邮件',width: 177,align:'center'}
                      ,{field: 'status', title: '状态', width: 80,  sort: true,templet:function (u) {
                          return u.status === 0 ? '禁用':'启用'
                      }}
                      ,{field: 'birthday', title: '生日', width: 177,  sort: true}
                      ,{fixed: 'right',  align:'center', width: 250,toolbar: '#barDemo'}
                  ]
              ]
          });
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


          form.on('submit(sreach)', function(data){

              // var param = data.serialize();

              console.log("param",data);

              table.reload('table', {
                  url: '/user/list',
                  request: {
                      pageName: 'pageNum',
                      limitName: 'pageSize'
                  },
                  method:'get',
                  where:{
                      username: data.field.username,
                      end: data.field.end,
                      start: data.field.start
                  },
                  page: {
                      curr: 1
                  }

              });
              return false;
          });



          // $('#query-form').on('click',function () {
          //     var queryPo = page.formToJson($('#query_form').serialize());
          //     var table = layui.table;
          //     table.reload('data_grid', {
          //         url: '/getUserList.action',
          //         page:{
          //             curr:1  //从第一页开始
          //         },
          //
          //         method:'get',
          //         where:{
          //             queryStr:queryPo
          //         }
          //
          //     });
          // });



          //监听工具条
          table.on('tool(member)', function(obj){
              var data = obj.data;
              if(obj.event === 'del'){
                  layer.confirm('真的删除行么', function(index){
                      $.ajax({
                          url:"/user/delete/"+data.id,
                          type:"DELETE",
                          dataType:'json',
                          headers:{'Content-Type':'application/json;charset=utf8'},
                          success: function (result) {
                              if (result.code == 200) {
                                  // $(obj).parents("tr").remove();
                                  layer.alert(result.msg,{icon:1},function (index1) {
                                      layer.close(index1)
                                      table.reload('table')
                                  });
                              }
                              else {
                                  layer.msg(result.msg,{icon:1,time:1000})
                              }
                          }
                      });

                  });

              } else if(obj.event === 'edit'){
                  xadmin.open('编辑用户信息','/user/edit/?id='+data.id);
              }
          });

          //批量删除
          $("#batch-delete-btn").on('click',function(){
              //获取选中状态            
              var checkStatus = table.checkStatus('table');
              //获取选中数量
              var selectCount = checkStatus.data.length;
              if(selectCount == 0){
                  layer.msg('批量删除至少选中一项数据',function(){});
                  return false;
              }

              console.log(JSON.stringify(checkStatus.data))

              layer.confirm('真的要删除选中的项吗？',function(index){
                  layer.close(index);
                  index = layer.load(1, {shade: [0.1,'#fff']});

                  var arr=checkStatus.data
                  var ids = arr.map(function (e) {
                      return  e.id
                  }).join(',')

                  // console.log('ids',ids);
                  //     isStr = isStr + "," + checkStatus.data[i].id;
                  // }
                  $.ajax({
                      type:'delete',
                      url:'/user/batDelete?ids='+ids,
                      success:function(data){
                          if(data.code==200){
                              table.reload('table')
                          }
                          layer.close(index);
                          layer.msg(data.msg);
                      },
                      error:function(data){
                          parent.layer.msg(data.msg,{icon: 5,time:1000});
                      }
                  });
              })
          });               





      });

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                  type: 'delete',
                  url: '/user/delete/'+id,
                  dataType:'json',
                  success: function (result) {
                      if (result.code == 200) {
                          $(obj).parents("tr").remove();
                          layer.msg(result.msg,{icon:1,time:1000});

                      }
                      else {
                          layer.msg(result.msg,{icon:1,time:1000})
                      }
                  }
              })

          });
      }
      
      function del(table) {
          var check = table.checkStatus('table')
          console.log(check)
      }

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }






      function delAll (argument) {

        var data = argument.getData();
          console.log(data);

          layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
</html>