<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiguiwu.admin.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.shiguiwu.admin.entity.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->

        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="headImgUrl" jdbcType="VARCHAR" property="headimgurl"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, nickname, headImgUrl, phone, telephone, email, birthday,
        sex, `status`, createTime, updateTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from sys_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shiguiwu.admin.entity.SysUser"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_user (username, `password`, nickname,
        headImgUrl, phone, telephone,
        email, birthday, sex,
        `status`, createTime, updateTime
        )
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
        #{headimgurl,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{sex,jdbcType=BOOLEAN},
        #{status,jdbcType=BOOLEAN}, now(), now()
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiguiwu.admin.entity.SysUser"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="headimgurl != null">
                headImgUrl,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shiguiwu.admin.entity.SysUser">
        <!--@mbg.generated-->
        update sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headImgUrl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shiguiwu.admin.entity.SysUser">
        <!--@mbg.generated-->
        update sys_user
        set username = #{username,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        nickname = #{nickname,jdbcType=VARCHAR},
        headImgUrl = #{headimgurl,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        telephone = #{telephone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=DATE},
        sex = #{sex,jdbcType=BOOLEAN},
        `status` = #{status,jdbcType=BOOLEAN},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        updateTime = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryByPage" parameterType="com.shiguiwu.admin.dto.UserDto"
            resultType="com.shiguiwu.admin.entity.SysUser">
        select * from sys_user where 1=1

        <if test="  username != null and username != ''">
            and username = #{username,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="findAll" parameterType="com.shiguiwu.admin.dto.UserDto" resultType="com.shiguiwu.admin.entity.SysUser">
        select * from sys_user where 1=1

        <if test="  username != null and username != ''">
            and username  like concat('%',#{username,jdbcType=VARCHAR},'%')
        </if>

        <if test="end != null and end != ''">
            AND date_format(birthday,'%Y-%m-%d') <![CDATA[<=]]> #{end,jdbcType=VARCHAR}
        </if>

        <if test="start != null and start != ''">
            AND date_format(birthday,'%Y-%m-%d') <![CDATA[>=]]> #{start,jdbcType=VARCHAR}
        </if>


    </select>

    <select id="queryDto" parameterType="long" resultType="com.shiguiwu.admin.dto.UserDto" >
        select su.*,(select group_concat(roleId) from sys_role_user where userid=su.id group by userid ) as roleId from sys_user su where su.id = #{id}
    </select>

    <delete id="batDeleteUserByUserid" parameterType="list" >
        delete from sys_user where 1=1 and id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")" >
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>